*{
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
} 
body {
    background-image: url(sekolah.jpg);
}
h1{
    background-color: rgb(49, 46, 46);
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin:auto;
    padding: 20px;
}
h2{
    background-color: white;
    color: black;
    text-align: center;
    font-family: sans-serif;
    margin:auto;
    padding: 20px;
}
.box-formulir{
    width: 50%;
    margin: 100px auto;
    border: 1px solid;
    background-color: #fff;
}
.box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin:5px 0 25px;
}
.table-form{
    width: 100%;
}
.table-form tr td:nth-child(1) {
    width: 30%;
}
.input-control{
    padding: 5px 30px;
    font-size: 16px;
    margin: 5px 0;
}

.btn-daftar{
    padding: 20px 20px;
    margin-left: 170%;
    background-color: #4A99D7;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 40px;
    
}
.btn-daftar:hover{
    cursor: pointer;
    background-color: #4881AE;
}
.btn-cetak{
    display: inline-block;
    padding: 30px 30px;
    color: #fff;
    background-color: #Ff5733;
    margin-top: 8px;
}
.table {
    width:100%;
    
}
